.footer{
    background: #1d0849;
    color: white;
    padding: 6rem 4rem;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
}

.top i{
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
}

.top i:hover{
    color: aqua;
}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.bottom h4{
    font-size: 1.5rem;
}

.bottom a{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.bottom a:hover{
    color: aqua;
}


@media screen and (max-width:850px) {

  .footer{
    padding: 2rem 2rem;
  }

  .top i{
    margin-left: 0.8rem;
    font-size: 1.2rem;
  }

    .bottom h4{
        font-size: 1rem;
    }

    .bottom a{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
    }



}